* {
  margin: 0;
  padding: 0;
}


html, body {
  height: 100%;
  width: 100%;

  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  visibility: hidden;
}


#content {
  position: relative;

  height: 70vh;
  width: 50vw;

  background-color: rgb(130, 130, 130);
  border: 2px rgb(130, 130, 130) solid;
}


#content .top {
  width: 100%;
  height: 10%;

  border-bottom: 1px #FFF solid;

  display: flex;
  align-items: center;
}



#content .top h1 {
  font-family: 'Roboto';
  font-size: 1.5em;

  text-transform: uppercase;
  color: white;

  margin-left: 5%;
}


#content .top h1 span {
  color: rgb(153, 64, 69);
}


#content .top #research {
  position: absolute;
  right: 15%;
}

#content .top button[name="close"] {
  position: absolute;
  top: -2px;
  right: -2px;

  width: 5%;
  height: 3.5%;

  font-size: 1.1em;

  color: rgb(255, 255, 255);
  background-color: rgb(163, 36, 36);
  border: none;

  cursor: pointer;


  display: flex;
  align-items: center;
  justify-content: center;
}

#content .top button[name="darkMode"] {
  height: 2.5vh;
  width: 2.5vh;

  position: absolute;
  right: 7%;

  border-radius: 300px;
  border: 1px #FFF solid;

  color: white;
  background-color: rgb(130, 130, 130);

  cursor: pointer;
}








#content .left {
  position: absolute;
  top: 10%;

  height: 90%;
  width: 20%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#content .left ul {
  list-style: none;
}

#content .left li {
  font-family: 'Raleway';
  font-size: 1em;

  color: white;
  margin-bottom: 30%;

  cursor: pointer;
}



#content .logs {
  position: absolute;
  top: 10%;
  right: 0%;

  height: 90%;
  width: 80%;

  border-left: 1px #FFF solid;
  background-color: rgb(246, 246, 246);

  overflow: auto;
}



#content .logs .item {
  width: 100%;

  border-bottom: 1px rgb(153, 153, 153) solid;
}


#content .logs .item h3 {
  font-family: 'Roboto';
  color: rgb(198, 164, 55);

  margin-top: 3px;
  margin-bottom: 15px;
  margin-left: 25px;
}

#content .logs .item p {
  font-family: 'Raleway';
  color: rgb(98, 98, 98);

  margin-bottom: 5px;
  margin-left: 10px;
}






.pop {
  animation: pop 1s;
}


@keyframes pop {
  from {
    top: 150%;
  }
  to {
    top: 0%;
  }
}





/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 200px greyrgb(124, 124, 124);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(101, 101, 101);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #282828;
}
